
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Lista de participantes</h2>

      <hr>

      {{>tablaSkaters}}
      <a href="http://localhost:3000/login">Iniciar Sesión</a> |
      <a href="http://localhost:3000/register">Registrarme</a>
    </div>
