<nav class="bg-success">
    <!-- Button trigger modal -->
    <div class="text-center py-2">
            <button type="button" id="carrito" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Pagar
        </button>
    </div>
</nav>