  <div class="card m-1" style="width: 18rem;">
    <div class="card-body" id="{{nombre}}">
      <h5 class="card-title"> {{nombre}} </h5>
       <img src="/assets/img/{{nombre}}.png" class="card-img-bot" alt="{{nombre}}">
    </div>
  </div>


